*{
	margin: 0;
	padding: 0px;
	font-family: 'Oswald', sans-serif;
}

html {
	overflow: hidden;
}

.container {
	grid-column-start: 1;
	grid-column-end: 5;
	grid-row-start: 1;
	grid-row-end: 4;
	

	font-size: 1.2em;
}

.parallax{
	background: url(../home-img.png) no-repeat center;
	background-size: cover;
	background-attachment: fixed;
	height: 4000px;
}
#name{
	font-size: 7em;
	font-weight: bold;
}

#subtitle{
	font-weight: normal;
	font-size: 2.35em;
}

a{
	text-decoration: none;
	color: rgb(0, 0, 0);
    transition: all .2s ease-in; 
    padding: 20px;
}

 a:hover{
	color: rgb(122, 75, 75);
}

.socials{
	text-align: center;
	grid-column-start: 2;
	grid-column-end: 4;
	grid-row-start: 4;
	grid-row-end: 4;
	font-size: 4em;
}

.socials i{
	padding: 0px 20px;
	
}



.content{
	
	align-items: center;
	align-content: center;
	justify-content: center;
	justify-items: center;
	grid-column-start: 2;
	grid-column-end: 4;
	grid-row-start: 2;
	grid-row-end: 4;
	text-align: center;
	
	
}

header{
	padding: 0 10px;
	background-size: cover;
	background-position: center;
	grid-column-start: 1;
	grid-column-end: 5;
	grid-row-start: 1;
	grid-row-end: 2;
}

.navbar{
	position: fixed;
	top: 15px; right: 1px;
	list-style-type: none;
	margin-right: 5vw;
	margin-top: 2.5vw;
	font-size: 1.314195em;
}

.navbar-item{
	display: inline-block;
}

.navbar-item a{
	text-decoration: none;
	color: #fff;
	padding: 5px 20px;
	border: 1px solid transparent;
	transition: 0.6s ease;
}

.navbar-item a:hover{
	background-color: #fff;
	color: #000;
}

.navbar-item.active a{
	background-color: #fff;
	color: #000;
}


body{
	max-height: 100vh;
	margin: auto;
	overflow-y: scroll;
    -webkit-overflow-scrolling:touch;
	
	background-image: radial-gradient(rgba(255, 244, 235, 0.397), rgba(211, 124, 98, 0.445)), url(../home-img.png);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	display: grid;
	grid-template-columns: repeat(4, 25vw);
	grid-template-rows: repeat(4, 25vh);
}

@media (max-width: 1200px) {

	html {
		overflow: hidden;
	}
	
	body {
        height:100vh;
		margin: auto;
		overflow-y: scroll;
    	-webkit-overflow-scrolling:touch;
    }

	#name {
		font-size: 5em;
	}

	#subtitle {
		font-size: 2.5em;
	}

	.navbar {
		font-size: 1.25em;
	}
}

@media (max-width: 500px) {

	html {
		overflow: hidden;
	}
	
	body {
        height:100vh;
		overflow-y: scroll;
    	-webkit-overflow-scrolling:touch;
    }

	#name {
		font-size: 5em;
		grid-column-start: 1;
		grid-column-end: 5;
	}

	#subtitle {
		font-size: 2.5em;
	}

	.navbar {
		font-size: 3em;
	}
}

